/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.choice a {
    background-color: #ddd;
    border-radius: 5px;
    margin-right: 20px;
    color: #555;
    padding: 2px 12px 5px;
    cursor: pointer;
    font-weight: bold;
}

.choice a.on {
    background-color: orange;
    color: #fff
}

.movie-tabs,
.food-tabs {
    margin-top: 2em;
}

.icon-block img {
    width: 200px;
    height: auto;
}

.section {
    margin-top: 0
}

.search input.search-input {
    border: 1px solid #ccc;
    width: 100px;
    height: 20px;
    padding: 2px 4px 4px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
}

.search button {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 4px 10px 5px;
    vertical-align: top;
    font-weight: bold;
    color: #444
}

#food-img-1, #food-img-2,#food-img-3, #food-img-4 {
    border-radius: 25px;
    max-width: 75%;
}

.hide {
    display:none;
}